{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/challenges/challenges.css">
    <title>Challenges Index</title>
</head>
<body style="color: whitesmoke;">
    <h1>Challenges / Goals</h1>
    <ul>
        {% for month in months_key %}
            <li style="list-style-type: upper-roman;"><a style="color: whitesmoke;" href="/challenges/{{ month }}">{{ month }}</a>
            {% if month == 'december' or month == 'january' or month == 'february' %}
            🥶🥶🥶
            {% elif month == 'march' or month == 'april' or month == 'may' %}
            🌷🌱🌷
            {% elif month == 'june'%}
            🎂🥳🎉
            {% elif month == 'july' or month == 'august' %}
            🌞🌞🌞
            {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>